//
// Custom Styles and Overrides
// -------------------------------------------------------------

// Grayscale
.gray-darker 		{color: #374250;}
.gray-dark 			{color: #606975;}
.gray 					{color: #9da9b9;}
.gray-light 		{color: #e1e7ec;}
.gray-lighter 	{color: #f5f5f5;}
.white-color 		{color: #ffffff;}
.black-color 		{color: #000000;}

// Brand colors
.dp-white 			{color: #FFFFFF;}
.dp-black				{color: #000000;}
.dp-primary 		{color: #0F8B8D;}
.dp-info 				{color: #143642;}
.dp-success 		{color: #00b055;}
.dp-warning 		{color: #EC9A29;}
.dp-danger 			{color: #A8201A;}

// Checkout Navigation
.checkout-steps > a {
	width: 33%;
}
.checkout-steps > a:first-child {
	width: 34%;
}

.commitmentFooter i {
	font-size: 2.4rem;
}

// Sticky

.sticky {
  position: -webkit-sticky;
  position: sticky;
	top: 140px;
}

.destinationMap {
	width: 100%;
	height: 580px;
}

.hero-cta {
	background: #ffffff;
	padding: 8px;
	border-radius: 16px;
}

a.list-group-item, .list-group-item-action {
	color: $brand-primary;
}

hr {
	margin: 3rem !important;
}

.fv-form-bootstrap .help-block {
	margin-left: .5rem;
	color: $brand-danger;
}

.form-control {
	font-size: 1.3rem;
	color: #333;
}
.form-control:not(textarea) {
	height: 50px;
}
select.form-control:not([size]):not([multiple]) {
	height: 50px;
}
.form-group label {
	padding-left: .5rem;
}

.widget-order-summary {
	background: $gray-lighter;
	padding: 10px 10px 0px 10px;
	border-radius: 10px
}

.m-6 {
  margin: 4rem !important;
}

.mt-6,
.my-6 {
  margin-top: 4rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 4rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 4rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 4rem !important;
}