//
// Custom Styles and Overrides
// -------------------------------------------------------------

// Grayscale
.gray-darker 		{color: #374250;}
.gray-dark 			{color: #606975;}
.gray 					{color: #9da9b9;}
.gray-light 		{color: #e1e7ec;}
.gray-lighter 	{color: #f5f5f5;}
.white-color 		{color: #ffffff;}
.black-color 		{color: #000000;}

// Brand colors
.dp-white 			{color: #FFFFFF;}
.dp-black				{color: #000000;}
.dp-primary 		{color: #00b0ad;}
.dp-info 				{color: #005bb0;}
.dp-success 		{color: #00b055;}
.dp-warning 		{color: #b0ad00;}
.dp-danger 			{color: #b00003;}