//
// Custom Styles and Overrides
// -------------------------------------------------------------

// Grayscale
.gray-darker 		{color: #374250;}
.gray-dark 			{color: #606975;}
.gray 					{color: #9da9b9;}
.gray-light 		{color: #e1e7ec;}
.gray-lighter 	{color: #f5f5f5;}
.white-color 		{color: #ffffff;}
.black-color 		{color: #000000;}

// Brand colors
.dp-white 			{color: #FFFFFF;}
.dp-black				{color: #000000;}
.dp-primary 		{color: #0F8B8D;}
.dp-secondary		{color: #0c5354}
.dp-info 				{color: #143642;}
.dp-success 		{color: #00b055;}
.dp-warning 		{color: #EC9A29;}
.dp-danger 			{color: #A8201A;}

// Background Grayscale
.bg-gray-darker 		{background-color:  #374250;}
.bg-gray-dark 			{background-color:  #606975;}
.bg-gray 						{background-color:  #9da9b9;}
.bg-gray-light 			{background-color:  #e1e7ec;}
.bg-gray-lighter 		{background-color:  #f5f5f5;}
.bg-white-color 		{background-color:  #ffffff;}
.bg-black-color 		{background-color:  #000000;}

// Utilities
hr {
	margin: 3rem !important;
}
.pointer {
	cursor: pointer;
}
.nounderline {
	text-decoration: none !important;
}
a.anchor {
	display: block;
	position: relative;
	top: -250px;
	visibility: hidden;
}

// Lists
a.list-group-item, .list-group-item-action {
	color: $brand-primary;
}

// Sticky
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 140px;
}

// Sidebar
.sidebar {
  max-width: 100%;
}

// Header
.toolbar .account > .toolbar-dropdown {
	margin-left: -170px;
}

.header-profits {
	width: 100%;
	padding: 36px 0;
	border-bottom: 1px solid #e1e7ec;
	background: rgba(17, 83, 83, .80);
	h1 {
		margin: 0;
		font-size: 24px;
		font-weight: normal;
		line-height: 1.25;
		color: #ffffff;
	}
	img {
		width: 200px;
	}
}

.img-thumbnail {
	padding: 3px !important;
}

// Hero Banners
.hero-overlay {
	position: relative;
	margin-right: 20px;
}
.hero-text {
	padding: 20px;
	background: rgba(55, 66, 80, .70);
	border-radius: 20px;
	border: 3px solid #FFF;
	position: absolute;
	top: 5rem;
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 3.1rem;
	}
	h3 {
		font-size: 2.2rem;
	}
}

// Header
.header-profits a {
	text-decoration: none;
}

// Login Banners
.login-overlay {
	padding: 20px;
	background: rgba(55, 66, 80, .50);
	border-radius: 10px;
	margin-top: 4rem;
	h1 {
		font-size: 1.8rem;
	}
	label {
		color: #fff;
	}
	.text-danger {
		font-size: 1.2rem;
		color: $brand-warning !important;
	}
}

// Maps
.destinationMap {
	width: 100%;
	height: 580px;
}
#destinationMap_wrapper {
    height: 400px;
}
#destinationMap_canvas {
    width: 100%;
    height: 100%;
}

//////////
/// Property / Cabin
//////////

.image {
  position: relative;
  overflow: hidden;
}
.label-sleeps {
  display: inline-block;
  padding: 3px 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
}
.label-price {
  display: inline-block;
	font-size: 1.9rem;
	font-weight: 600;
  padding: 3px 12px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
}
.image a {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  opacity: 0;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  z-index: 200;
}
.image a i {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  display: block;
  font-size: 25px;
  margin-top: -40px;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.image:hover a {
  opacity: 1;
}
.image:hover a i {
  margin-top: -10px;
}
/// Properties
.property-detail {
  padding: 12px 0;
}
.property-detail .title {
  font-weight: 600;
  font-size: 16px;
}
.property-detail .location {
  display: block;
  font-size: 13px;
  color: #777;
  margin: 0px 0;
}
.property-detail .pull-right img {
  margin-left: 10px;
  margin-right: 4px;
  width: 14px !important;
  display: inline-block !important;
}
/// Destinations
.destination-detail {
  padding: 12px 0;
}
.destination-detail .title {
  font-weight: 600;
  font-size: 16px;
}
.destination-detail .location {
  display: block;
  font-size: 13px;
  color: #777;
  margin: 0px 0;
}
.destination-detail .pull-right img {
  margin-left: 10px;
  margin-right: 4px;
  width: 14px !important;
  display: inline-block !important;
}

// Buttons
.btn-xl {
	height: 74px;
	border-radius: 38px;
	line-height: 72px;
	font-size: 1.2rem;
}

// Blockquote
.blockquote {
	border-top: none;
	border-bottom: none;
}

// Testimonials
.testimonials {
	padding: 4rem;
}
.testimonials h4 {
	text-align: center;
	font-size: 2.6rem;
}

// Font Awesome
.fa-xs { font-size: .750em; }
.fa-sm { font-size: .875em; }

// Product Card
.product-card {
	background: #fafafa;
}
.product-card .product-title {
	text-align: left;
}
.product-card .product-price {
	text-align: left;
	font-size: .85rem;
}
.product-title a {
	text-decoration: none;
}

// Checkout Navigation
.checkout-steps > a {
	width: 50%;
}
.checkout-footer {
	background: $gray-lighter;
}
// Order Summary
.widget-order-summary {
	background: $gray-lighter;
	border: 1px solid #e1e7ec;
	padding: 10px 10px 0px 10px;
	border-radius: 10px
}

// Forms
.fv-form-bootstrap .help-block {
	margin-left: .5rem;
	color: $brand-danger;
}
.form-control {
	font-size: 1.3rem;
	color: #333;
}
.form-control:not(textarea) {
	height: 50px;
}
select.form-control:not([size]):not([multiple]) {
	height: 50px;
}
.form-group label {
	padding-left: .5rem;
}

// Footer
.commitmentFooter i {
	font-size: 2.4rem;
}

// Payment Cards
.paymentCards {
	text-align: center;
	i {
		font-size: 4rem;
		margin-right: 1.6rem;
	}
}

// Payment Page Credit Card Applications
.card-header i {
	font-size: 1.6rem;
	color: $gray-dark;
}

// Additional Margins
.m-6 {
  margin: 4rem !important;
}
.mt-6, .my-6 {
  margin-top: 4rem !important;
}
.mr-6, .mx-6 {
  margin-right: 4rem !important;
}
.mb-6, .my-6 {
  margin-bottom: 4rem !important;
}
.ml-6, .mx-6 {
  margin-left: 4rem !important;
}

// Pass PDF
.passCity {
	display: block;
	clear: both;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #e1e7ec;
}
.passDiscount h6 {
	margin: 0;
}
.passDiscount a {
	text-decoration: none;
}

// Total Hack to Make the Modal Work
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}

// Pop Slide from Bottom
.stickyFooter {
  background-color: #0F8B8D;
	text-align: center;
	padding: 10px;
  width: 100%;
  position: fixed;
  left: 0;
	bottom: 0;
	z-index: 999999; // One more than ZenDesk
	border-top: 1px solid #FFFFFF;
	box-shadow: 0 -5px 25px 0 rgba(47, 56, 68, 0.22);
}
.stickyFooter h3 {
	margin: 0;
	padding: 0;
}

//////////
/// Media Customizations
//////////

/// Phones
@media (max-width: $screen-sm) {
	
	// Hero Banners
	.hero-slider {
		min-height: 280px;
	}

	.hero-text {
		top: 3rem;
		h1 {
			font-size: 1.6rem;
		}
		h2 {
			font-size: 2.2rem;
			span {
				display: block;
				background: rgba(255, 255, 255, .85);
				padding: 4px;
				margin-top: 10px;
				border-radius: 8px;
			}
		}
	}

	.header-profits {
		width: 100%;
		padding: 26px 0;
		border-bottom: 1px solid #e1e7ec;
		background: rgba(17, 83, 83, .80);
		h1 {
			margin: 0;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.25;
			color: #ffffff;
		}
		img {
			width: 100px;
		}
		.img-thumbnail {
			padding: 2px !important;
		}

	}

	// Login Banners
	.login-overlay {
		padding: 16px;
		margin-top: 3rem;
		h1 {
			font-size: 1.8rem;
		}
	}

	// Card Icons
	.paymentCards i {
	  font-size: 2.4rem;
	  margin-right: .3rem;
	}

	// Sticke
	.stickyFooter {
	  width: 100%;
		right: 0;
	}
	.stickyFooter h3 {
	  font-size: 18px;
	}

	// Testimonials
	.testimonials {
		padding: 3rem;
	}
	.testimonials h4 {
		text-align: left;
		font-size: 2rem;
	}

}

/// Tablets
@media (min-width: $screen-md) {

	.header-profits {
		width: 100%;
		padding: 26px 0;
		border-bottom: 1px solid #e1e7ec;
		background: rgba(17, 83, 83, .80);
		h1 {
			margin: 0;
			font-size: 22px;
			font-weight: normal;
			line-height: 1.25;
			color: #ffffff;
		}
		img {
			width: 200px;
		}
	}

}